APP_PORT_HTTP=80

FB_APIKEY=AIza...
FB_APPID=1:352...
FB_PROJECTID=someapp
FB_AUTHDOMAIN=someapp.firebaseapp.com
FB_DBURL=https://someapp.firebaseio.com

FB_AUTH_USER=abc@gmail.com
FB_AUTH_PASS=abc123@