APP_PORT=3000
CORS_ALLOW=https://something.web.app;https://something.firebaseapp.com (or * for all)
USE_SSL=false
SSL_CERT=ssl/some-cert.pem
SSL_KEY=ssl/some-key.pem

JWT_KEY=some-fucking-key

FB_APIKEY=AIza...
FB_APPID=1:352...
FB_PROJECTID=someapp
FB_AUTHDOMAIN=someapp.firebaseapp.com
FB_DBURL=https://someapp.firebaseio.com
FB_AUTH_USER=abc@gmail.com
FB_AUTH_PASS=abc123@

AWS_AK_ID=abc
AWS_AK_SECRET=xyz
AWS_S3_BUCKET=paimontv

APP_AUTH_EMAIL=test@gmail.com
APP_AUTH_PASS=test123@